[submodule "modules/RecurringDonations"]
	path = modules/RecurringDonations
	url = git@github.com:aw-studio/funds-recurring-donations
[submodule "modules/Shipping"]
	path = modules/Shipping
	url = git@github.com:aw-studio/funds-shipping-center
