[submodule "modules/RecurringDonation"]
	path = modules/RecurringDonation
	url = git@github.com:aw-studio/funds-recurring-donations
[submodule "modules/Shipping"]
	path = modules/Shipping
	url = git@github.com:aw-studio/funds-shipping-center
