:root {
    --font-family-sans: Inter, sans-serif;
    --general-bg-color: rgba(var(--color-general-bg-rgb, 242, 242, 242), 1);
    --general-text-color: rgba(var(--color-general-text-rgb, 0, 0, 0), 1);
    --accent-1-color: rgba(var(--color-accent-1-rgb, 39, 77, 186), 1);
    --accent-1-25-color: rgba(var(--color-accent-1-rgb, 39, 77, 186), 0.25);
    --interaction-color: rgba(var(--color-interaction-rgb, 112, 23, 166), 1);
    --interaction-text-color: rgba(
        var(--color-interaction-text-rgb, 255, 255, 255),
        1
    );
    --text-on-accent-1-color: var(--interaction-text-color);
    --accent-2-color: rgba(var(--color-accent-2-rgb, 227, 229, 232), 1);
    --accent-2-text-color: rgba(var(--color-accent-2-text-rgb, 0, 0, 0), 1);

    --button-radius: 10px;
    --tab-radius: 10px;
    --tag-radius: 8px;
    --input-radius: 8px;
    --checkbox-radius: 4px;
    --choice-chip-radius: 4px;
    --sidebar-radius: 16px;
    --summary-radius: var(--sidebar-radius);
    --image-radius: 8px;
    --card-radio-radius: 12px;
    --card-radius: 16px;
    --progress-bar-radius: 4px;

    --input-border-color: rgba(0, 0, 0, 0.25);
    --summary-bg-color: rgba(0, 0, 0, 0.05);
}

.campaign {
    background-color: var(--general-bg-color);
    font-family: var(--font-family-sans);
    color: var(--general-text-color);

    .tag {
        border-radius: var(--tag-radius);
        background-color: var(--accent-2-color);
        color: var(--accent-2-text-color);
    }

    .choice-chip {
        border-radius: var(--choice-chip-radius);
        border-color: var(--input-border-color);
    }

    label > span.text-red-500 {
        color: var(--general-text-color);
    }

    .choice-chip-wrapper {
        input:checked + .choice-chip {
            border-color: var(--accent-1-color);
            color: var(--accent-1-color);
        }
    }

    .page-header {
        background-color: var(--general-bg-color);
    }

    .radio {
        border-color: var(--input-border-color);
        border-radius: var(--card-radio-radius);

        &:has(:checked) {
            border-color: var(--accent-1-color);
        }

        input:checked {
            color: var(--accent-1-color);
        }
    }

    .card-radio {
        border-radius: var(--card-radio-radius);
        border-color: var(--input-border-color);

        &.selected {
            border-color: var(--accent-1-color);
            span {
                color: var(--accent-1-color);
            }
        }
    }

    .sidebar {
        border-radius: var(--sidebar-radius);
        background-color: var(--accent-2-color);
        color: var(--accent-2-text-color);
    }

    .card {
        border-radius: var(--card-radius);
        background-color: var(--general-bg-color);
        /*general text color 60%*/
        color: var(--general-test-color);

        img {
            width: 100%;
        }
    }

    .button-link {
        color: var(--accent-1-color);
    }

    select,
    input:not([type="radio"]) {
        background-color: transparent;
        border-radius: var(--input-radius);
        border-color: var(--input-border-color);
    }

    input[type="checkbox"] {
        border-radius: var(--checkbox-radius);

        &:checked {
            background-color: var(--accent-1-color);
        }
        &:focus {
            background-color: var(--interaction-color);
            box-shadow: none;
        }
    }

    .text-xs {
        font-size: var(--font-size-xs, 12px);
        line-height: var(--line-height-xs, 16px);
    }

    .text-sm {
        font-size: var(--font-size-sm, 14px);
        line-height: var(--line-height-sm, 20px);
    }

    .text-base {
        font-size: var(--font-size-base, 16px);
        line-height: var(--line-height-base, 24px);
    }

    .text-xl {
        font-size: var(--font-size-xl, 20px);
        line-height: var(--line-height-xl, 28px);
    }

    .text-2xl {
        font-size: var(--font-size-2xl, 24px);
        line-height: var(--line-height-2xl, 32px);
    }

    .text-3xl {
        font-size: var(--font-size-3xl, 30px);
        line-height: var(--line-height-3xl, 36px);
    }

    .text-general {
        color: rgba(var(--color-general-text-rgb, 0, 0, 0), 1);
    }

    .text-muted {
        color: rgba(var(--color-general-text-rgb, 0, 0, 0), 0.6);
    }

    .rounded-md {
        border-radius: var(--input-radius);
    }

    img {
        border-radius: var(--image-radius);
    }

    [role="tablist"] {
        display: flex;
        border-bottom: 1px solid var(--accent-1-color);
    }

    [role="tab"] {
        padding: 8px 20px;
        border-top-left-radius: var(--tab-radius);
        border-top-right-radius: var(--tab-radius);
        transition: background 0.1s;
    }

    [role="tab"]:focus {
        outline: none;
        text-decoration: underline;
    }

    [role="tab"]:hover {
        background: var(--interaction-color);
        color: var(--interaction-text-color);
    }

    [role="tab"][aria-selected="true"] {
        background: var(--accent-1-color);
        color: var(--interaction-text-color);
    }

    blockquote {
        background: var(--accent-2-color);
        border-radius: var(--card-radius);
        padding: 10px 20px;
        font-style: normal;
    }
}
.progress-bar {
    background-color: var(--accent-2-color);
    .progress {
        background-color: var(--accent-1-color);
    }
    border-radius: var(--progress-bar-radius);

    .rounded-l {
        border-top-left-radius: var(--progress-bar-radius);
        border-bottom-left-radius: var(--progress-bar-radius);
    }
    .rounded {
        border-radius: var(--progress-bar-radius);
    }
}
.backlink {
    color: var(--accent-2-text-color);
}
.page-select-reward {
    background-color: var(--accent-2-color);
}

.share-icons {
    svg {
        fill: var(--general-text-color);
    }
}

.summary {
    border-radius: var(--summary-radius);
    background: var(--summary-bg-color);
}
.amountSlider {
    .overlay {
        background-color: var(--accent-1-25-color);
        border-radius: var(--button-radius);
    }

    .overlay::before {
        content: var(--tw-content);
        -webkit-mask-image: linear-gradient(
            to right,
            #ffffff,
            #ffffff var(--progress),
            transparent var(--progress)
        );
        mask-image: linear-gradient(
            to right,
            #ffffff,
            #ffffff var(--progress),
            transparent var(--progress)
        );
        background-color: var(--accent-1-color);
    }

    .thumb {
        &::-webkit-slider-thumb {
            background-color: var(--accent-1-color);
            border: 1px solid var(--general-bg-color);
            border-radius: var(--button-radius);
        }
    }
}

.play-pause-button {
    color: var(--accent-1-color);
}

.embed {
    .no-consent {
        background-color: var(--accent-2-color);
        border-radius: var(--card-radius);
    }
}

.pitch-video {
    border-radius: var(--image-radius);

    .video-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        overflow: hidden;
    }

    .video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.fc-button {
    background: var(--accent-1-color);
    color: var(--interaction-text-color);
    border-radius: var(--button-radius);
    padding: 8px 20px;
    transition: background 0.1s;

    &:hover {
        background: var(--interaction-color);
    }
}
